

.a-bg p, .score p, .rowDOE .inner-text, #result_text p, .rowDOE h2, .context-info p, .subheadline p, .unit {
    font-family: Karla, Verdana,     sans-serif;
}

.header-color h3 {
    font-weight: normal;
}

.a-bg p {
    font-size: 16px;
    line-height: 18px;
}

@media only screen and (min-width: 40.063em) {
  .xxlarge-a {    
    height: 145px;
  }
  .xlarge-a {    
    height: 90px;
  }
  .large-a {    
    height: 75px;
  }
  .medium-a {    
    height: 55px;
  }
  .small-a {    
    height: 38px;
  }
}

@media only screen and (min-width: 64.063em) {
  .xxlarge-a {    
    height: 110px;
  }
  .xlarge-a {    
    height: 75px;
  }
  .medium-a, .large-a {    
    height: 55px;
  }
  .small-a {    
    height: 38px;
  }
  .rowDOE h2 {    
    font-size: 50px;    
    padding: 0px;
  }

}

.rowDOE h2 {
    padding: 0px;
    font-weight: normal;
}

.node-type-map .context-info p {
    color: #000 !important;
}

#results h1 {
    margin-top: .25em;
    margin-bottom: .25em;
}


/*figure out a better fix*/
#progress {
    max-width: inherit;
    display: none;
}

#master_container {
    max-width: 821px;
  }

@media only screen and (min-width: 64.063em) {
  #progress {    
    display: block;
  }
}

@media only screen and (max-width: 40.063em) {
  #progress {    
    display: block;    
    width: 90%;    
    left: 5%;
  }
}

